.answerOption {
    border-radius: 0.5rem;
    background-color: #0d6efd;
    margin: 0.5rem;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.answerOptionSelected,
.answerOption:hover {
    border-radius: 0.5rem;
    background-color: #1835c2;
    margin: 0.5rem;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.answerText {
    color: white;
    font-size: 30px;
    margin-left: 1rem;
    padding: .5rem;
}

.questionText {
    margin-left: .5rem;
    color: white;
}

.questionContainer {
    animation-duration: .5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}