.questionContainer {
    border: 1px solid;
    border-radius: .5rem;
    width: 700px;
    background-color: #0d6efd;
    margin-top: 15rem;
}
.arrowBtnRight {
    cursor: pointer;
    color: white;
}

.arrowBtnRight:hover {
    cursor: pointer;
    background-color: #0d6efd;
    color: #d1d1d1;
}

.arrowBtnLeft:hover {
    cursor: pointer;
    background-color: #0d6efd;
    color: #d1d1d1;
}

.arrowBtnLeft {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 662px;
    left: 127px;
}

.arrowContainer {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
}

